
@media (max-width: 900px) {
	
	button{
		width: 25vw;
	}
	
	
h1 { 
font-size:1.25em
}

h2{
	
	    font-size: 1.2em;
		
}

label{

    font-size: 0.6em;

}
	p {
    font-size: 0.8em;
	padding-bottom: 1vh;
  }


	
  #hide{
	  
	width: 20vw;
    height: 17vw;
    font-size: 3.5vh;
	
  }
  
  #infoBox{
	  
	  top:10vh;
	  width:75vw;
	  margin:0 7.5vw 0 7.5vw;
  }
  
  #settings {
	  
	    width: 98vw;
    height: 40vh;
    margin: 60vh 0vw 0 0vw;
    padding: 0 1vw 0 1vw;
	opacity: 0.875;
	
  }
  
  .option{
	  
	  margin: 0
	  
  }
  
  #socials{
	  
	  position: absolute;
    bottom: 0;
	
  }
  
  .nextSetting {
	  
	        display: block;
        margin-bottom: 1.5vh;
        margin-left: 12.5%;
        width: 75%;
        height: 35px;
	
  }
  

   
 
}
@media (orientation: portrait) and (max-width: 900px) {

  #infoBox{
	  
	  top:10vh;
	  width:75vw;
	  margin:0 7.5vw 0 7.5vw;
  }
  
 
}

@media (orientation: landscape) and (max-width: 900px) {
  
  	img{
		width:4%;
		padding-bottom:2.5vh
		
	}
	
 #infoBox{
	  
	  top:2vh;
	  width: 33vw;
    margin: 0 29vw 0 29vw;
	  
  }

  #remap{
	  height:7vh
  }
  
  #hide{
	  
	      width: 16vw;
    height: 7vw;
	
  }
  .nextSetting{
	  
	  margin-bottom: 5vh;
	  
  }
  
   #settings {
	  
	        width: 98vw;
        height: 85vh;
        margin-top: 15vh;
        padding: 0 1vw 0 1vw;
    }
	
	
  }